html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;;
}
a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}

* {
  box-sizing: border-box;
}